In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from networkx.algorithms import bipartite

In [2]:
# business = pd.read_json('business.json', lines=True)

In [3]:
# business.head()

In [4]:
# tip = pd.read_json('tip.json', lines=True)
#user = pd.read_json('user.json', lines=True)

In [5]:
# tip.head(5)

In [6]:
# checkin = pd.read_json('checkin.json', lines=True)

In [7]:
# checkin.head()

In [38]:
user = pd.read_json('user.json', lines=True)

In [39]:
user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,,5,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [40]:
user.drop(['compliment_cool', 'compliment_cute', 'compliment_funny', 'compliment_hot', 'compliment_list', 'compliment_more', 'compliment_note', 'compliment_photos', 'compliment_plain', 'compliment_profile', 'compliment_writer', 'funny', 'yelping_since'], axis=1, inplace=True)

In [77]:
user.head(35)

,average_stars,cool,elite,fans,friends,name,review_count,useful,user_id,elite_title
0,4.03,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,False
1,3.63,16,,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",Jenna,33,48,4XChL029mKr5hydo79Ljxg,False
2,3.71,10,,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",David,16,28,bc8C_eETBWL0olvFSJJd0w,False
3,4.85,14,,5,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,False
4,4.08,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,False
5,4.20,3048,"2015,2016,2017,2018",186,"AJxDPGVTzefy3vSHWJchvQ, TgveR4qIsr0Q7b4MJK29TA...",Marilyn,214,3475,0rK89TS8xqy1wI4nYI1wfw,False
6,4.39,15319,"2006,2007,2008,2009,2010,2011,2012,2013",696,"RJQTcJVlBsJ3_Yo0JSFQQg, GWt_h78k1CBBkE1NpThGfQ...",Keane,1122,13311,TEtzbpgA2BFBrC0y0sCbfw,False
7,4.33,1,,0,"d1z7Xc9RG5TVBkdUPhSbAw, IgsbGFEN8NWshPNOBiNGmg...",Andre,6,1,KGuqerdeNhxzXZEyBaqqSw,False
8,4.21,1244,"2006,2007,2008,2009,2010,2011,2012",57,"ctr_BlCf3Ogny-vLs8E9tQ, c6HT44PKCaXqzN_BdgKPCw...",Tanya,859,1630,T0gWkTHWRChVUe_Dn1F8nw,False
9,4.53,185,,15,"N-xeG3U6rUkjVtQ0o-5YZA, wnO99pBbGqwqOoTQM25iCw...",Trace,124,202,NQffx45eJaeqhFcMadKUQA,False
10,3.60,34,"2017,2018",9,"CfGCj80EdA-xS-mTWlAn4Q, JgD2Rk9K07MkZgG7Nb9YzA...",Peter,47,57,gvXtMj3XuPr0xHjgmlmtng,False
11,3.48,22,,3,"tYyOnNs7tBfqAT9ICKDfhA, 8lOmKlym2HovbxtCpim0tw...",Edie,77,71,_DaFdmq0gtXf1spn1qC_1Q,False
12,3.50,3,,2,"Dg8_xYNvjVC6KGNRcWhYjA, ejsfCWW7k0kP63qmYl-uzw...",Gabriella,11,12,FTWKZZeLb_0ZJRXQg8WADw,False
13,3.95,12,,0,"_5p_nO7OczVP7czj_7T-RA, vux89VHowK-AlTpw_0J-wQ...",Emily,22,31,US0VOSMFs9U0Nkl5Vx1EzA,False
14,3.90,342,,42,"mFwRTTDW0Yr-rFkTF2cFsw, swDSHRvZ4FBC-8db8o1BDg...",Victoria,143,483,fktnDzpjYBUG5a-w_xq01A,False
15,4.50,5,,1,"xVv_pVxAcOfY_xBjBhF4Vw, wxwcXI6UicVMUvfS4tJLYQ...",Richard,9,11,iPJAN6rJHv92WE2h9b3lAA,False
16,3.79,586,"2011,2012,2013,2014,2015,2016",71,"Xqo1ru1F7srvbUJaCNHkvQ, v5LvxWrscDM7XKpD6f0WxQ...",Jin,732,1104,AWCY8laHjH0-3HMT0LGpUA,False
17,4.10,34,,4,"9ljCrn-qgfAMRS5wLmMKrQ, hXl-ISD3YDCPMVBkny8m2w...",Cyndi,57,72,CXi7I5J-ItLGJNyKPkI5gA,False
18,3.58,2532,"2014,2015,2016,2017,2018",124,"zH2whhmSEhwKUqPjgwKEQA, g1U9u3hrtR414gkW1GvmfA...",Diana,453,3578,3TJcP0stfxjWGsLuGQgQdg,False
19,3.10,2,,0,"a4kpoV3nrxRPUHR6z1PBQw, mNQGnFf22YStvg5lW-E6-Q...",Jamey,44,16,hQ98T_hy1CoSWw55zA49VQ,False
20,3.89,3246,"2013,2014,2016,2017,2018",99,"8pzdMS8Mbppx9Xuf4ekCTA, Fcw-Rza7kEtavc_88t-BSg...",AurÃƒÂ©lie,1563,4172,zzpgpo54-_P-4rzzBtOuLQ,False
21,3.45,974,"2015,2016,2017,2018",71,"tRC9YLo4LHquMVXZ9VO4Ag, -YpfTgz88rsPwsOvlfKn7w...",Javier,470,1655,pU6GoRTcl1rIOi6zMynjog,False
22,4.05,53,,5,"c6VYt2qajpt-etcKrH93Jg, GIMg62Ga_YBstQUX_B1h2g...",Lea,127,193,Ps_zkoSnuv2Gy-QIt0jEJg,False
23,4.31,399,"2008,2009",13,"o8H8CioXzL4ZR_zxZYcv3Q, yJB1hHDIq18Qvmo3yo9_KA...",allison,391,708,_ICqwy7SW8J6OJBab1HkwA,False
24,3.81,228,"2012,2013,2014,2015,2016,2017",19,"FL99HPJNDVQ2Yeha_4dI_w, HfElShp8sy4QXY60ox9_eg...",Ronald,336,431,J9HamWsxKorlPGUAXy-M9Q,False
25,3.57,33,,7,"Tk2DscrRA0sXPXKb0ZzBCg, DpEEWf_8mYsYPilGu4nrgA...",Erica,48,108,t8Whyn2ZWS34TxHsr2mpbg,False
26,4.44,3,,0,"V1KtmSHupcPCjDsDD_mU2A, fUAGZlTJs9mB4mY0f7qvrw...",Christene,9,5,nRagjGVuSALgQ4KfGLn8Ig,False
27,4.16,213,"2016,2017",9,"2hvNa7B9N-9ByZBpVMioZQ, 4aCF363Weu2RNAtl3mJ2eg...",Kris,167,423,djQLJTLA4Tx7TpzYCKIqJQ,False
28,3.59,573,,13,"UGU7tw4NkiqGlOt77_o5mQ, yFzYyM5T8LX5vKbA3wiimQ...",Sharon,443,907,xxhjX14h8cQyKSuTQFy1Lg,False
29,2.00,3,,1,"FDuoN8cpcI8y2DBIUoMn4A, If62OVbZRyqgqpAkYw6y5w...",Amber,4,10,a643pisN3QSjofk1Jmlo_Q,False
30,2.64,3,,1,"5fvybUMH9N9Gx1zKw8UbBQ, I0HBD2I7uT_LU_gA9Gb9HA...",A,19,33,z5y4ejvC8uaUg5fGEJHbRA,False
31,4.25,32,2018,2,"kVrdgzczxM7TvPy6nFAZ_Q, Wn0aDFnS4Fln2bcbWUluVg...",Desiree,108,88,DvIlmSleoauEoR3fY0Kf5w,False
32,4.02,1341,"2011,2012,2013,2014,2015,2016,2017,2018",77,"2Y1pwMu2pZJDGQ7moD-2gQ, Qlys2g0R3PfNAuMOhagwLA...",Katharine,412,1816,t-nB38eHbeFuabXBdJMwvg,False
33,4.20,0,,0,"yU3dWsL_PrIeYDdJ3OodXg, iIzwr1J92eiFIP816pWX1g...",Jamison,4,2,3gniF5P3L_WcoR8zx7wXxA,False
34,4.06,2890,"2010,2011,2012",407,"0Ruw0bvMt1HUfs6zupHHEQ, L3HP1QSy_O6VTNU35U_ahw...",Annie,914,5227,ICwMfseYkrB0ZEK8tDUOHw,False

In [80]:
user.elite

0                                   2015,2016,2017
1
2
3
4                              2015,2016,2017,2018
5                              2015,2016,2017,2018
6          2006,2007,2008,2009,2010,2011,2012,2013
7
8               2006,2007,2008,2009,2010,2011,2012
9
10                                       2017,2018
11
12
13
14
15
16                   2011,2012,2013,2014,2015,2016
17
18                        2014,2015,2016,2017,2018
19
20                        2013,2014,2016,2017,2018
21                             2015,2016,2017,2018
22
23                                       2008,2009
24                   2012,2013,2014,2015,2016,2017
25
26
27                                       2016,2017
28
29
                            ...
1637108
1637109
1637110
1637111
1637112
1637113
1637114
1637115
1637116
1637117
1637118
1637119
1637120
1637121
1637122
1637123
1637124
1637125
1637126
1637127
1637128
1637129
1637130
1637131
1637132
1637133
1637134
1637135
1637136
1637137
Name: elite, Length: 1637138, dtype: object

In [76]:
user['elite'].value_counts().head(600)

                                                          1565761
2017,2018                                                    9316
2018                                                         8986
2016,2017,2018                                               5975
2015,2016,2017,2018                                          4521
2016,2017                                                    2233
2014,2015,2016,2017,2018                                     2167
2012,2013,2014,2015,2016,2017,2018                           1858
2015,2016                                                    1850
2015,2016,2017                                               1606
2013,2014,2015,2016,2017,2018                                1512
2017                                                         1320
2012                                                         1087
2011,2012,2013,2014,2015,2016,2017,2018                      1010
2012,2013                                                     943
2012,2013,2014                                                930
2011,2012                                                     899
2014,2015                                                     879
2010,2011,2012,2013,2014,2015,2016,2017,2018                  868
2010,2011                                                     834
2016                                                          814
2013,2014                                                     804
2015                                                          782
2014,2015,2016                                                754
2010,2011,2012                                                708
2010                                                          671
2009,2010                                                     657
2012,2013,2014,2015                                           617
2014,2015,2016,2017                                           616
2013,2014,2015                                                600
                                                           ...
2006,2008,2010,2011,2012,2013,2014                              1
2006,2007,2008,2009,2010,2016,2017                              1
2006,2007,2009,2014,2015,2016                                   1
2007,2018                                                       1
2006,2007,2014,2015                                             1
2006,2007,2008,2009,2010,2011,2012,2013,2014,2017,2018          1
2008,2012                                                       1
2008,2015,2016                                                  1
2006,2007,2008,2009,2017,2018                                   1
2007,2013,2014,2015                                             1
2006,2013                                                       1
2010,2011,2013,2014,2018                                        1
2008,2010,2011,2012,2013,2014,2015,2016                         1
2006,2007,2008,2009,2010,2011,2012,2016,2017,2018               1
2012,2014,2015,2017                                             1
2006,2010,2011,2012,2013,2014,2015                              1
2009,2014                                                       1
2008,2013,2014                                                  1
2008,2013,2014,2015,2016,2017,2018                              1
2013,2015,2017,2018                                             1
2006,2007,2008,2009,2010,2011,2012,2013,2015,2016,2017          1
2009,2011,2012,2013,2014,2015,2016,2017                         1
2006,2009,2010,2011,2012,2013,2014,2015,2016                    1
2011,2013,2014,2015,2016,2017                                   1
2010,2011,2012,2013,2016,2017                                   1
2007,2008,2009,2011,2012,2016,2017,2018                         1
2007,2008,2009,2010,2014,2015,2016                              1
2006,2008,2009                                                  1
2007,2008,2009,2010,2011,2012,2015,2016                         1
2007,2008,2010,2011,2012,2013                                   1
Name: elite, Length: 600, dtype: int64

In [90]:
# user_elite_title= user[user['elite'].contain(['2018'])]
# user_elite_title.head(5)
user_elite_title = user[user.elite.str.contains('2018')]

In [91]:
user_elite_title.shape

(38630, 10)

In [94]:
user_elite_title.head(2)

,average_stars,cool,elite,fans,friends,name,review_count,useful,user_id,elite_title
4,4.08,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,False
5,4.20,3048,"2015,2016,2017,2018",186,"AJxDPGVTzefy3vSHWJchvQ, TgveR4qIsr0Q7b4MJK29TA...",Marilyn,214,3475,0rK89TS8xqy1wI4nYI1wfw,False